.header {
    background-color: rgb(43, 5, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 30px;
  }
  
  .searchForm {
    position: relative;
  }
  
  .searchField {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;    padding-left: 30px;
    width: 300px;
    height: 30px;
    border-radius: 8px;
  }
  .searchField:focus {
    outline: none;
  }
  
  .searchBtn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    text-align: center;
  }