.imagesList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .imageItem {
    width: 320px;
    height: 240px;
  }